img {
    background-color: #1e96fc;
    padding: 3px;
    height: 240px;
}
body {
   padding: 2%;
   font-family: PT Sans Narrow;
   color: #1e96fc;
   background-color: #000000; 
   /* background-image: url(espaco.jpg);
   background-repeat: no-repeat;
   background-size: 100%; */
}

.minha-foto {
   width: 230px;
   float: left;
}

.image-post { 
   height: 245px;
   position: relative;
}

div {
   border: 1px solid yellow;
}

.meu-nome {
   text-align: center;
}

.descricao {
   position: absolute;
   right: 80px;
   top: 80px
}


